<!-- Banner principal -->
<div id="banner">
  <div class="banner_content">
    <h1>File Cabinet</h1>
    <p>Your Work Organized Always.</p>

    <!-- Botão que leva para a página de cadastro -->
    <button>
      <%= link_to "Enter", new_user_registration_path %>
    </button>
  </div>
</div>

<!-- Seção de chamadas -->
<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <h2>Organize</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida ex non tempor rhoncus. Aliquam sed maximus eros. Donec finibus dictum rutrum. Phasellus turpis ex, bibendum et vulputate ut, varius sed ex. Aenean dui magna, pellentesque eget enim non, interdum vulputate quam. Praesent in massa imperdiet, eleifend lectus at, congue dolor. Quisque tempus, eros sit amet pretium fermentum, mi tellus hendrerit arcu, ac sollicitudin eros felis a diam. Suspendisse imperdiet, diam vitae maximus facilisis, ante sem lobortis metus, ut dictum nisi arcu a orci. Cras ornare pellentesque tincidunt.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Chamada final -->
<div id="bottom_cta">
  <div class="wrapper">
    <h2>Go Ahead</h2>
    <br>

    <!-- Botão que leva para a página de cadastro -->
    <button>
      <%= link_to "Join Now", new_user_registration_path %>
    </button>
  </div>
</div>
