<div id="page_wrapper">
 <div id="profile_image">
  <%= image_tag "profile.jpeg" %>
</div>

<div id="contente">
 <h1> It's Mr Mustache </h1>
<p>
  Mr Mustache is a 30-year-old software engineer with a passion for building web applications.

</p>

</div>

</div>
